* {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'aktiv_grotesk_w01regular';
    src: url('aktiv-grotesk-w01-webfont.woff2') format('woff2'),
         url('aktiv-grotesk-w01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.TextArea {
	width: fit-content;
}

.header,
.info {
	font-family: aktiv_grotesk_w01regular;
}

.header {
	font-weight: bold;
	font-size: 3em;
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.num_people {
	font-weight: bold;
	font-size: 6em;
	margin-right: 0.1em;
}

.text_info {
	font-size: 2em;
	height: 100%;
	vertical-align: middle;
}
