.PanIcon {
	display: flex;
	flex-direction: column;
}

.icon,
.stoveIcon {
	width: 20em;
}

.flameZone {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 20px;
	margin-bottom: -20px;
}
